.grid_cols_7 {
  padding-right: 28.060000000000002%;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .grid_cols_7:before {
    clear: both;
    content: '';
    display: block; }
  .grid_cols_7:after {
    clear: both;
    content: '';
    display: block; }

.grid__row:before, .grid__row:after {
  clear: both;
  content: '';
  display: block; }

.grid__module {
  float: left;
  position: relative; }
  .grid__module_first_yes {
    clear: left; }
  .grid__module_span_1 {
    margin-right: -19%;
    width: 19%; }
  .grid__module_span_2 {
    margin-right: -39%;
    width: 39%; }
  .grid__module_span_3 {
    margin-right: -59%;
    width: 59%; }
  .grid__module_span_4 {
    margin-right: -79%;
    width: 79%; }
  .grid__module_span_5 {
    margin-right: -99%;
    width: 99%; }
  .grid__module_span_6 {
    margin-right: -119%;
    width: 119%; }
  .grid__module_span_7 {
    margin-right: -139%;
    width: 139%; }
  .grid__module_col_1 {
    left: 0%; }
  .grid__module_col_2 {
    left: 20%; }
  .grid__module_col_3 {
    left: 40%; }
  .grid__module_col_4 {
    left: 60%; }
  .grid__module_col_5 {
    left: 80%; }
  .grid__module_col_6 {
    left: 100%; }
  .grid__module_col_7 {
    left: 120%; }

.button {
  width: 210px;
  background-color: transparent;
  cursor: pointer;
  border-color: #00f000; }
  .button:hover {
    border-color: #00ff00; }
  .button span:nth-child(1) {
    color: green; }
  .button span:nth-child(2) {
    color: grey; }
  .button span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 3px; }

.button {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border-style: none;
  height: 65px;
  display: inline-block; }
  .button span {
    position: absolute;
    box-sizing: border-box;
    display: block; }
  .button > span > span:nth-child(3), .button:before, .button:after, .button > :first-child, .button > :first-child:before, .button > :first-child:after {
    border-color: inherit;
    display: block;
    -moz-transition: border-color 0.3s ease;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease; }
  .button:before, .button:after, .button > :first-child:before, .button > :after {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    position: absolute;
    box-sizing: border-box;
    content: ' '; }
  .button > span > span:nth-child(3), .button:before, .button:after, .button > :first-child:before, .button > :first-child:after {
    border-width: 3px; }
  .button > span > span:nth-child(3) {
    border-radius: 3px; }
  .button:before {
    border-radius: 3px 0 0 3px; }
  .button:after {
    border-radius: 0 3px 3px 0; }
  .button > :first-child:before {
    border-radius: 3px 3px 0 0; }
  .button > :first-child:after {
    border-radius: 0 0 3px 3px; }
  .button > :first-child {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit; }
  .button > span span {
    width: inherit;
    text-align: center;
    -moz-transition: opacity 0.6s ease, top 0.5s ease;
    -webkit-transition: opacity 0.6s ease, top 0.5s ease;
    transition: opacity 0.6s ease, top 0.5s ease; }
  .button > span > span:nth-child(1) {
    opacity: 1;
    top: 18px; }
  .button > span > span:nth-child(2) {
    top: 37px;
    opacity: 0; }
  .button:hover > span > span:nth-child(1) {
    opacity: 0;
    top: 2px; }
  .button:hover > span > span:nth-child(2) {
    opacity: 1;
    top: 18px; }
  .button > span > span:nth-child(3) {
    top: 28%;
    height: 44%;
    width: inherit;
    border-style: none solid none solid; }
  .button:before, .button:after {
    top: 0;
    width: 0;
    height: inherit;
    border-style: solid none solid none; }
  .button > :first-child:before, .button > :first-child:after {
    left: 0;
    height: 0;
    width: inherit;
    border-style: none solid none solid; }
  .button:before {
    -webkit-animation-name: left-center;
    animation-name: left-center; }
  .button:after {
    -webkit-animation-name: right-center;
    animation-name: right-center; }
  .button > :first-child:before {
    -webkit-animation-name: center-top;
    animation-name: center-top; }
  .button > :first-child:after {
    -webkit-animation-name: center-bottom;
    animation-name: center-bottom; }
  .button:hover:before {
    -webkit-animation-name: center-left;
    animation-name: center-left; }
  .button:hover:after {
    -webkit-animation-name: center-right;
    animation-name: center-right; }
  .button:hover > :first-child:before {
    -webkit-animation-name: top-center;
    animation-name: top-center; }
  .button:hover > :first-child:after {
    -webkit-animation-name: bottom-center;
    animation-name: bottom-center; }

@-webkit-keyframes center-left {
  0% {
    left: 40%;
    width: 8%;
    opacity: 0.2; }
  25% {
    left: 25%;
    width: 15%; }
  50% {
    left: 0%;
    width: 30%; }
  80% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 0%;
    opacity: 1; } }
@-webkit-keyframes left-center {
  0% {
    left: 0%;
    width: 0%;
    opacity: 1; }
  20% {
    left: 0%;
    width: 0%; }
  50% {
    left: 0%;
    width: 30%; }
  55% {
    left: 40%;
    width: 11%; }
  100% {
    left: 43%;
    width: 8%;
    opacity: 0.2; } }
@-webkit-keyframes center-right {
  0% {
    left: 52%;
    width: 8%;
    opacity: 0.2; }
  25% {
    left: 60%;
    width: 15%; }
  50% {
    left: 70%;
    width: 30%; }
  80% {
    left: 100%;
    width: 0%; }
  100% {
    left: 100%;
    width: 0%;
    opacity: 1; } }
@-webkit-keyframes right-center {
  0% {
    left: 100%;
    width: 0%;
    opacity: 1; }
  20% {
    left: 100%;
    width: 0%; }
  50% {
    left: 70%;
    width: 30%; }
  55% {
    left: 49%;
    width: 11%; }
  100% {
    left: 49%;
    width: 8%;
    opacity: 0.2; } }
@-webkit-keyframes top-center {
  0% {
    top: 0%;
    height: 0%;
    opacity: 0.2; }
  50% {
    top: 0%;
    height: 0%; }
  60% {
    top: 0%;
    height: 20%; }
  80% {
    top: 0%;
    height: 50%; }
  90% {
    top: 25%;
    height: 25%; }
  100% {
    top: 50%;
    height: 0%;
    opacity: 1; } }
@-webkit-keyframes center-top {
  0% {
    top: 50%;
    height: 0%;
    opacity: 1; }
  10% {
    top: 25%;
    height: 25%; }
  20% {
    top: 0%;
    height: 50%; }
  40% {
    top: 0%;
    height: 20%; }
  50% {
    top: 0%;
    height: 0%; }
  100% {
    top: 0%;
    height: 0%;
    opacity: 0.2; } }
@-webkit-keyframes bottom-center {
  0% {
    top: 100%;
    height: 0%;
    opacity: 0.2; }
  50% {
    top: 100%;
    height: 0%; }
  60% {
    top: 80%;
    height: 20%; }
  80% {
    top: 50%;
    height: 50%; }
  90% {
    top: 50%;
    height: 25%; }
  100% {
    top: 50%;
    height: 0%;
    opacity: 1; } }
@-webkit-keyframes center-bottom {
  0% {
    top: 50%;
    height: 0%;
    opacity: 1; }
  10% {
    top: 50%;
    height: 25%; }
  20% {
    top: 50%;
    height: 50%; }
  40% {
    top: 80%;
    height: 20%; }
  50% {
    top: 100%;
    height: 0%; }
  100% {
    top: 100%;
    height: 0%;
    opacity: 0.2; } }
@keyframes center-left {
  0% {
    left: 40%;
    width: 8%;
    opacity: 0.2; }
  25% {
    left: 25%;
    width: 15%; }
  50% {
    left: 0%;
    width: 30%; }
  80% {
    left: 0%;
    width: 0%; }
  100% {
    left: 0%;
    width: 0%;
    opacity: 1; } }
@keyframes left-center {
  0% {
    left: 0%;
    width: 0%;
    opacity: 1; }
  20% {
    left: 0%;
    width: 0%; }
  50% {
    left: 0%;
    width: 30%; }
  55% {
    left: 40%;
    width: 11%; }
  100% {
    left: 43%;
    width: 8%;
    opacity: 0.2; } }
@keyframes center-right {
  0% {
    left: 52%;
    width: 8%;
    opacity: 0.2; }
  25% {
    left: 60%;
    width: 15%; }
  50% {
    left: 70%;
    width: 30%; }
  80% {
    left: 100%;
    width: 0%; }
  100% {
    left: 100%;
    width: 0%;
    opacity: 1; } }
@keyframes right-center {
  0% {
    left: 100%;
    width: 0%;
    opacity: 1; }
  20% {
    left: 100%;
    width: 0%; }
  50% {
    left: 70%;
    width: 30%; }
  55% {
    left: 49%;
    width: 11%; }
  100% {
    left: 49%;
    width: 8%;
    opacity: 0.2; } }
@keyframes top-center {
  0% {
    top: 0%;
    height: 0%;
    opacity: 0.2; }
  50% {
    top: 0%;
    height: 0%; }
  60% {
    top: 0%;
    height: 20%; }
  80% {
    top: 0%;
    height: 50%; }
  90% {
    top: 25%;
    height: 25%; }
  100% {
    top: 50%;
    height: 0%;
    opacity: 1; } }
@keyframes center-top {
  0% {
    top: 50%;
    height: 0%;
    opacity: 1; }
  10% {
    top: 25%;
    height: 25%; }
  20% {
    top: 0%;
    height: 50%; }
  40% {
    top: 0%;
    height: 20%; }
  50% {
    top: 0%;
    height: 0%; }
  100% {
    top: 0%;
    height: 0%;
    opacity: 0.2; } }
@keyframes bottom-center {
  0% {
    top: 100%;
    height: 0%;
    opacity: 0.2; }
  50% {
    top: 100%;
    height: 0%; }
  60% {
    top: 80%;
    height: 20%; }
  80% {
    top: 50%;
    height: 50%; }
  90% {
    top: 50%;
    height: 25%; }
  100% {
    top: 50%;
    height: 0%;
    opacity: 1; } }
@keyframes center-bottom {
  0% {
    top: 50%;
    height: 0%;
    opacity: 1; }
  10% {
    top: 50%;
    height: 25%; }
  20% {
    top: 50%;
    height: 50%; }
  40% {
    top: 80%;
    height: 20%; }
  50% {
    top: 100%;
    height: 0%; }
  100% {
    top: 100%;
    height: 0%;
    opacity: 0.2; } }
.header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal; }
  .header-welcome {
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
    color: blue; }
  .header-game {
    font-size: 50px;
    line-height: 50px;
    font-weight: 100;
    color: red; }
  .header-other {
    font-size: 30px;
    line-height: 30px;
    font-weight: 100; }

.game-board {
  border: 0px; }
  .game-board__row__cell {
    width: 30px;
    height: 30px; }
    .game-board__row__cell_1 {
      background-color: red; }
    .game-board__row__cell_2 {
      background-color: green; }
    .game-board__row__cell_3 {
      background-color: blue; }
    .game-board__row__cell_4 {
      background-color: yellow; }
    .game-board__row__cell_5 {
      background-color: pink; }

.game-button-container {
  margin-bottom: 20px;
  color: #0A416B;
  padding-top: 10px;
  clear: both; }

.white_0 {
  opacity: 1; }

.white_1 {
  opacity: 0.1; }

.game-button {
  float: left;
  cursor: pointer;
  margin-right: 10px;
  width: 28px;
  height: 28px; }
  .game-button:hover {
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666; }
  .game-button_1 {
    background-color: red; }
  .game-button_2 {
    background-color: green; }
  .game-button_3 {
    background-color: blue; }
  .game-button_4 {
    background-color: yellow; }
  .game-button_5 {
    background-color: pink; }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.form-control {
  display: block;
  width: 100%;
  height: 43px;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.pure-form {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200; }

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
  padding: 0.2em 0.5em; }

.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA; }

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA; }

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block; }

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc; }

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d; }

.pure-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white; }

.pure-form select[multiple] {
  height: auto; }

.pure-form label {
  margin: 0.5em 0 0.2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400; }

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0; }

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0; }

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.pure-form-aligned textarea {
  vertical-align: top; }

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em; }

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0 1em 0 0; }

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em; }

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em; }

/* Grouped Inputs */
.pure-form .pure-group fieldset {
  margin-bottom: 10px; }

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px; }

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3; }

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0; }

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0; }

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.pure-form .pure-group button {
  margin: 0.35em 0; }

.pure-form .pure-input-1 {
  width: 100%; }

.pure-form .pure-input-2-3 {
  width: 66%; }

.pure-form .pure-input-1-2 {
  width: 50%; }

.pure-form .pure-input-1-3 {
  width: 33%; }

.pure-form .pure-input-1-4 {
  width: 25%; }

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em; }

/* Block help for forms */
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em; }

@media only screen and (max-width: 480px) {
  .pure-form button[type="submit"] {
    margin: 0.7em 0 0; }

  .pure-form input:not([type]),
  .pure-form input[type="text"],
  .pure-form input[type="password"],
  .pure-form input[type="email"],
  .pure-form input[type="url"],
  .pure-form input[type="date"],
  .pure-form input[type="month"],
  .pure-form input[type="time"],
  .pure-form input[type="datetime"],
  .pure-form input[type="datetime-local"],
  .pure-form input[type="week"],
  .pure-form input[type="number"],
  .pure-form input[type="search"],
  .pure-form input[type="tel"],
  .pure-form input[type="color"],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block; }

  .pure-group input:not([type]),
  .pure-group input[type="text"],
  .pure-group input[type="password"],
  .pure-group input[type="email"],
  .pure-group input[type="url"],
  .pure-group input[type="date"],
  .pure-group input[type="month"],
  .pure-group input[type="time"],
  .pure-group input[type="datetime"],
  .pure-group input[type="datetime-local"],
  .pure-group input[type="week"],
  .pure-group input[type="number"],
  .pure-group input[type="search"],
  .pure-group input[type="tel"],
  .pure-group input[type="color"] {
    margin-bottom: 0; }

  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%; }

  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0; }

  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em; } }
/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal; }

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center; }

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */ }

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0; }

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom; }

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
  background-color: transparent; }

.pure-table-odd td {
  background-color: #f2f2f2; }

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2; }

/* BORDERED TABLES */
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb; }

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0; }

/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb; }

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0; }

/*# sourceMappingURL=my.css.map */
